#loginBody {
    background-color: white;
    text-align: center;
}

#logo {
    height: 10vh;
    min-height: 51px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top:40px;
    margin-bottom: 10px;
}

#logoImg {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 450px;
}

.indexHeader {
    font-family:'Lucida Sans';
    color: rgb(159,160,162);
    font-size:40px;
}

#invFormContainer {
    display:block;
    min-width: 400px;
    width: fit-content;
    background-color: rgb(81,105,145);
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    overflow-y:auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

#signUp {
    background-color: white;
    display: inline-block;
    border-radius: 50px;
    width: 300px;
    height: 350px;
    border: 5px solid rgb(159,160,162);
    margin-right: 5px;
    margin-top: 5px;
}

#login {
    background-color: white;
    display: inline-block;
    border-radius: 50px;
    width: 300px;
    height: 350px;
    border: 5px solid rgb(159,160,162);
    margin-left: 5px;
    margin-top: 10px;
}

label {
    display: block;
    font-family: 'Lucida Sans';
    font-size: 15px;
    margin-left: -100px;
    font-weight: bold;
}

input {
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#signButton {
    font-size: 20px;
    width: 150px;
    color: white;
    background-color: rgb(81, 105, 145);
}

#loginButton {
    font-size: 20px;
    width: 150px;
    color: white;
    background-color: rgb(81, 105, 145);
}

#loginError {
    font-size: 15px;
    color: red;
    margin-bottom: 10px;
}


#loginErrorGap {
    font-size: 15px;
    color: white;
    margin-bottom: 10px;
}


/* img {
    
} */