#searchTitleArea {
    height: 10vh;
    min-height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#homeTitleArea {
    height: 10vh;
    min-height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#searchLogo {
    display: inline;
    width: 200px;
    margin-top: 10px;
}

#searchTitle {
    font-family: Verdana;
    font-size:40px;
    font-weight: bold;
    color: rgb(159,160,162);
    margin: 0px;
    display: inline-block;
    white-space: nowrap;
}

#searchBody {
    margin: 0px;
    background-color:white;
    overflow-y: hidden;
    overflow-x:auto;
}

#homeBody {
    margin: 0px;
    background-color:white;
    overflow-y: hidden;
    overflow-x:auto;
}

#searchInnerBody {
    height: 85vh;
    width: 50%;
    min-width: 450px;
    display: block;
    background-color: rgb(81,105,145);
    overflow-y: hidden;
    margin-left: auto;
    margin-right: auto;
    border-radius:30px;
}

#searchArea {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 10%;
    min-height: 50px;
}

#mainHomeContent {
    background-color:lightblue;
    height: 90vh;
    display: block;
    position: relative;
    margin-bottom: 0px;
    overflow-y: hidden;
}

#exploreSection {
    display: inline-block;
    border: 2px solid black;
    width: 45%;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
}

#myPostsSection {
    display: inline-block;
    border: 2px solid black;
    width: 45%;
    margin-top: 10px;
    margin-left:10px;
    padding: 10px;
}

#widgetsDiv {
    display: block;
    border:2px solid black;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

#searchBox {
    width: 200px;
    margin-right: 5px;
}

#searchType {
    height: 20px;
    width: 60px;
    text-align: center;
    margin-right: 5px;
}

#searchResults {
    border-radius: 30px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 85%;
    width: 90%;
    overflow-y: auto;
    text-align: center;
    padding-bottom: 10px;
}

.resultBox {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right: auto;
    display: block;
}

#dmTitleArea {
    height: 10vh;
    min-height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: -10px;
    margin-bottom: 20px;
}

#dmLogo {
    display: inline;
    width: 200px;
    margin-top: 10px;
}

#dmTitle {
    font-family: Verdana;
    font-size:40px;
    font-weight: bold;
    color: rgb(159,160,162);
    margin: 0px;
    display: inline-block;
    white-space: nowrap;
}

#mainConsoleDm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
    width: 60%;
    min-width: 450px;
    height: 85vh;
    background-color: rgb(81,105,145);
    border-radius:30px;
}

#chatWith {
    color: white;
    display: inline;
    font-family: 'Lucida Sans';
    font-weight: bold;
    margin-right: 10px;
}

#selectUserDm {
    width: 200px;
}

#navConsoleDm {
    display: block;
    width: 100%;
    min-width:250px;
    text-align: center;
    padding-top: 25px;
    margin-bottom: 20px;
}

#chatAreaDm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    min-width: 350px;
    height: 75%;
    background-color:white;
    border-radius:30px;
    text-align: left;
    text-indent: 50px;
    overflow-y:auto;
}

.dmDiv {
    margin-left: 50px;
    margin-top: 20px;
}

.dmChatUser {
    color: rgb(81,105,145);
    font-weight: bold;
    font-family: 'Lucida Sans';
    display: inline;
}

#messageBox {
    width: 300px;
}

#messageAreaDm {
    display: block;
    width: 100%;
    min-width:250px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

#navArea{
    width: fit-content;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
}

.navButton{
    margin-right:10px;
    display: inline-block;
    width: 100px;
    margin-top: 5px;
}

#navAreaSearch{
    width: fit-content;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
}

.outerUserSearchArea {
    display: flex;
    width: fit-content;
    min-width: 500px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 2px solid rgb(159,160,162);
    margin-top: 20px;
    padding-right: 10px;
}

.avatarDisplay {
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 10px;
    padding-left: 0px;
    width: 45px;
    border-radius: 50%; 
    object-fit: cover; 
}

img {
    float: left;
    border-radius: 50%; 
    object-fit: cover; 
}

.usernameSearch {
    font-family: Verdana;
    font-size: 25px;
    display: inline;
    margin-left: 0px;
    margin-top:10px;
    width: fit-content;
    text-indent: 10px;
}

.friendReqButton {
    margin-top: 15px;
    position: relative;
    margin-left: 20px;
    display: inline-block;
    width:fit-content;
}

.statusP {
    font-family: Verdana;
    font-size: 15px;
    margin-top: 18px;
    position: relative;
    margin-left: 20px;
    display: inline-block;
    width: fit-content;
}


#postTitleArea {
    height: 10vh;
    min-height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#postLogo {
    display: inline;
    width: 200px;
    margin-top: 10px;
}

#postTitle {
    font-family: Verdana;
    font-size:40px;
    font-weight: bold;
    color: rgb(159,160,162);
    margin: 0px;
    display: inline-block;
    white-space: nowrap;
}

#postBody {
    display: block;
    margin: 0px;
    background-color:white;
    overflow-y: auto;
    overflow-x:auto;
    padding-bottom: 5px;
}

#postInnerBody {
    height: fit-content;
    padding-bottom: 40px;
    width: 50%;
    min-width: 450px;
    display: block;
    background-color: rgb(81,105,145);
    overflow-y: hidden;
    margin-left: auto;
    margin-right: auto;
    border-radius:30px;
}

#submitPostButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#postArea {
    border-radius: 30px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    padding-bottom: 20px;
    width: 90%;
    overflow-y: auto;
    text-align: center;
    margin-top: 40px;
}

#postImgArea {
    width:300px;
    height:300px;
    display: block;
    border: 3px solid black;
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
}

#captionLabel{
    font-family: Verdana;
    font-size: 20px;
}

#captionArea{
    display:block;
}

#captionBox {
    margin-top: 5px;
    width: 300px;
}

#addImgArea {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#postImgLabel {
    font: Verdana;
    font-size: 20px;
}

#postImgPreview {
    object-fit: cover; 
    border-radius: 0; 
}


.postImgDisplayDiv {
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.postSearchImage {
    margin-top: 10px;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 0; 
    object-fit: cover; 
    margin-bottom: 10px;
}

.postDisplay {
    width: 90%;
    height: fit-content;
    border: 2px solid rgb(159,160,162);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding-bottom: 10px;
}

.postUsernameDisplay {
    font-family: Verdana;
    font-size: 20px;
    margin-bottom: 10px;
    display: inline;
    font-weight: bolder;
}

.postCaptionDisplay{
    display: inline;
    font-family: Verdana;
}

.indCommentDisplay{
    display: block;
}

.postCommentsDisplay{
    margin-top: 15px;
    width: 100%;
    height: 100px;
    overflow-y: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.commentsDisplayLabel{
    display: block;
    font-family: Verdana;
    font-size: 15px;
    margin-bottom:5px;
    font-weight:bolder;
    margin-top: 10px;
}

.commentsUserDisplay {
    display: inline;
    font-family: Verdana;
    font-size: 15px;
    font-weight: bold;
}

.commentsContentDisplay{
    display: inline;
    font-family: Verdana;
    font-size: 15px;
}

.commentButton {
    display: inline;
}

.commentText {
    width: 200px;
}
