#searchTitleArea {
    height: 10vh;
    min-height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#homeTitleArea {
    height: 10vh;
    min-height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#searchLogo {
    display: inline;
    width: 200px;
    margin-top: 10px;
}

#searchTitle {
    font-family: Verdana;
    font-size:40px;
    font-weight: bold;
    color:grey;
    margin: 0px;
    display: inline-block;
    white-space: nowrap;
}

#searchBody {
    margin: 0px;
    background-color:white;
    overflow-y: hidden;
    overflow-x:auto;
}

#homeBody {
    margin: 0px;
    background-color:white;
    overflow-y: hidden;
    overflow-x:auto;
}

#searchInnerBody {
    height: 90vh;
    display: block;
    position: relative;
    background-color: lightblue;
    margin-bottom: 0px;
    overflow-y: hidden;
}

#searchArea {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 10%;
    min-height: 50px;
}

#mainHomeContent {
    background-color:lightblue;
    height: 90vh;
    display: block;
    position: relative;
    margin-bottom: 0px;
    overflow-y: hidden;
}

#exploreSection {
    display: inline-block;
    border: 2px solid black;
    width: 45%;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
}

#myPostsSection {
    display: inline-block;
    border: 2px solid black;
    width: 45%;
    margin-top: 10px;
    margin-left:10px;
    padding: 10px;
}

#widgetsDiv {
    display: block;
    border:2px solid black;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

#searchBox {
    width: 200px;
    margin-right: 5px;
}

#searchType {
    height: 20px;
    width: 60px;
    text-align: center;
    margin-right: 5px;
}

#searchResults {
    border: 2px solid black;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 88%;
    overflow-y: auto;
    text-align: center;
}

.resultBox {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right: auto;
    display: block;
}

#logoImgDm {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 300px;
    margin-top: -25px;
}

#mainConsoleDm {
    position: fixed;
    top: 60px;
    bottom:60px;
    left: 120px;
    right: 120px;
    background-color: rgb(81,105,145);
    border-radius:30px;
    overflow-y: auto;
}

#navConsoleDm {
    display: inline-block;
    width: 35%;
    min-width:250px;
    height: 90%;
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom:30px;
    border-radius:30px;
    background-color:white;
}

#chatAreaDm {
    display: inline-block;
    width: 57%;
    min-width: 350px;
    height: 90%;
    background-color:white;
    border-radius:30px;
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}
